################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################
/source/bin/netcoreapp2.2
/source/Blog.Core/obj
/source/Blog.Core/bin
/source/Blog.Core/wwwroot/bin
/source/Blog.Core.Model/obj
/source/Blog.Core.Model/bin
/source/Blog.Core.Model/wwwroot
/source/Blog.Core.Biz/obj
/source/Blog.Core.Biz/bin
/source/Blog.Core.Biz/wwwroot
/source/Blog.Core.Common/obj
/source/Blog.Core.Common/bin
/source/Blog.Core.Common/wwwroot
/source/Blog.Core.Job/obj
/source/Blog.Core.Job/bin
/source/Blog.Core.Job/wwwroot
/source/Blog.Core/log
/source/Blog.Core.Test
/h5/node_modules
/h5/build
/source/.vs